# House-Price-Predictor

In [1]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltb

In [2]:
data = pd.read_csv("Bengaluru_House_Data.csv")
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
data.shape

(13320, 9)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
data.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [6]:
#extracting all the data
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
********************
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************

In [7]:
data.drop(columns=["balcony","society","area_type","availability"],inplace=True)

In [8]:
data.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [9]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [10]:
data['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [11]:
data['location'] = data['location'].fillna('Whitefield')

In [12]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [13]:
#filling the missing values 
data['size'] = data['size'].fillna('2 BHK')

In [14]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [16]:
data['bhk'] = data['size'].str.split().str.get(0).astype(int)

In [17]:
data[data.bhk>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [18]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [19]:
def convertRange(x):
  temp = x.split('-')
  if len(temp) == 2:
    return (float(temp[0]) + float(temp[1]))/2
  try:
    return x
  except:
    return None

In [20]:
data['total_sqft'] = data['total_sqft'].apply(convertRange)

In [21]:
data['total_sqft'] = pd.to_numeric(data['total_sqft'], errors='coerce')

In [22]:
data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

Price Per Square feet

In [23]:
data['price_per_sqft'] = data['price'] * 100000 / data['total_sqft']

In [24]:
data.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [25]:
data['location'] = data['location'].apply(lambda x:x.strip())
location_count = data['location'].value_counts()

In [26]:
location_count

Whitefield                        542
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1294, dtype: int64

In [27]:
location_less_than_10 = location_count[location_count <= 10]

In [28]:
data['location'] = data['location'].apply(lambda x: 'other' if x in location_count else x)

In [29]:
data.head()

  location       size  total_sqft  bath   price  bhk  price_per_sqft
0    other      2 BHK      1056.0   2.0   39.07    2     3699.810606
1    other  4 Bedroom      2600.0   5.0  120.00    4     4615.384615
2    other      3 BHK      1440.0   2.0   62.00    3     4305.555556
3    other      3 BHK      1521.0   3.0   95.00    3     6245.890861
4    other      2 BHK      1200.0   2.0   51.00    2     4250.000000

Price Per Square feet

In [30]:
data['total_sqft'].describe()

count    13274.000000
mean      1559.626694
std       1238.405258
min          1.000000
25%       1100.000000
50%       1276.000000
75%       1680.000000
max      52272.000000
Name: total_sqft, dtype: float64

In [31]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [32]:
data.shape

(13320, 7)

In [33]:
#setting the eligibility for bhk be atleast 300sqft
data = data[((data['total_sqft']/data['bhk']) >= 300)]

In [34]:
data.shape

(12530, 7)

In [35]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

OUTLIER DETECTION AND REMOVAL

In [36]:
def remove_outlier_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        
        m = np.mean(subdf.price_per_sqft)
        sd = np.std(subdf.price_per_sqft)
        
        gen_df = subdf[(subdf.price_per_sqft > (m-sd)) & (subdf.price_per_sqft <= (m+sd))]
        df_output = pd.concat([df_output, gen_df], ignore_index=True)
    return df_output
data = remove_outlier_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  11350.000000  11350.000000  11350.000000  11350.000000    11350.000000
mean    1493.093089      2.457709     84.170656      2.566784     5370.436719
std      858.454421      0.976560     67.273009      0.902649     1664.253060
min      300.000000      1.000000     10.000000      1.000000     2149.277061
25%     1100.000000      2.000000     47.250000      2.000000     4125.000000
50%     1275.000000      2.000000     65.000000      2.000000     5093.969415
75%     1630.000000      3.000000     97.000000      3.000000     6363.636364
max    30400.000000     16.000000   2100.000000     16.000000    10458.333333

In [37]:
def bhk_outlier_removal(df):
    exclude_indices = np.array([])
    for location,location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean' : np.mean(bhk_df.price_per_sqft),
                'SD' : np.std(bhk_df.price_per_sqft),
                'count' : bhk_df.shape[0]
            }    
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices, axis = 'index')

In [38]:
data = bhk_outlier_removal(data)

In [39]:
data.shape

(6001, 7)

In [40]:
data

      location       size  total_sqft  bath   price  bhk  price_per_sqft
3        other      3 BHK      1521.0   3.0   95.00    3     6245.890861
6        other      4 BHK      2732.0   4.0  204.00    4     7467.057101
11       other  3 Bedroom      2250.0   3.0  148.00    3     6577.777778
12       other      2 BHK      1175.0   2.0   73.50    2     6255.319149
16       other      1 BHK       600.0   1.0   15.00    1     2500.000000
...        ...        ...         ...   ...     ...  ...             ...
11341    other      3 BHK      1675.0   3.0   92.13    3     5500.298507
11345    other      3 BHK      1715.0   3.0  112.00    3     6530.612245
11347    other      2 BHK      1141.0   2.0   60.00    2     5258.545136
11348    other      4 BHK      4689.0   4.0  488.00    4    10407.336319
11349    other      1 BHK       550.0   1.0   17.00    1     3090.909091

[6001 rows x 7 columns]

CLEANED DATA

In [41]:
data.drop(columns = ['size','price_per_sqft'], inplace= True)

In [42]:
data

      location  total_sqft  bath   price  bhk
3        other      1521.0   3.0   95.00    3
6        other      2732.0   4.0  204.00    4
11       other      2250.0   3.0  148.00    3
12       other      1175.0   2.0   73.50    2
16       other       600.0   1.0   15.00    1
...        ...         ...   ...     ...  ...
11341    other      1675.0   3.0   92.13    3
11345    other      1715.0   3.0  112.00    3
11347    other      1141.0   2.0   60.00    2
11348    other      4689.0   4.0  488.00    4
11349    other       550.0   1.0   17.00    1

[6001 rows x 5 columns]

In [43]:
data.to_csv("cleaned_data.csv")

Training the Linear Regression Model

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.metrics import r2_score, accuracy_score
from sklearn.pipeline import make_pipeline

In [45]:
X = data.drop(columns=['price'])
y=data['price']

In [46]:
X_train,X_test,y_train, y_test = train_test_split(X,y)

In [47]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']),
                              remainder = 'passthrough')

In [48]:
scaler=StandardScaler()

In [49]:
lr=LinearRegression()

In [50]:
pipe = make_pipeline(column_trans,scaler,lr)

In [51]:
pipe.fit(X_train,y_train)

D:\Machine Learning\anac\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [52]:
y_pred=pipe.predict(X_test)

In [53]:
r2_score(y_pred,y_test)

0.8433654027988209